body{
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}
ul{
    list-style: none;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0 20px 20px 20px;
}
.account{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border-radius: 28px;
}
nav{
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

span{
    font-size: 30px;
}

.home, .profile{
    text-decoration: none;
}

.todoinput{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    margin-right: 20px;
}
.addbtn{
    border: none;
    background: none;
}
.todolist{
    background-color: skyblue;
    text-align: center;
    border-radius: 25px;
    margin: 20px 0;
    display: flex;
}
.todo{
    margin: 15px 10px 0 20px;
    width: 100px;
    font-size: 25px;
}
.todobtn{
    margin-left: 180px;
    margin-top: 20px;
}