body{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}
ul{
    list-style: none;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0 20px 20px 20px;
}
.account{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border-radius: 28px;
}
nav{
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

span{
    font-size: 30px;
}

.home, .profile{
    text-decoration: none;
}

.todoinput{
    width: 200px;
    height: 30px;
    border-radius: 25px;
}